In [6]:
import pandas as pd
df = pd.read_csv('california_housing_test.csv')
print(df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [9]:
df.shape # размер таблицы

(3000, 9)

In [10]:
df.dtypes # тип данных в столбцах

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [16]:
df.isnull().sum() # проверка на пустые значения

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [30]:
df[df['median_income'] < 2][['median_house_value', 'latitude']]# показать medium_house_value и latitude где median_income<2

      median_house_value  latitude
5                67000.0     36.51
6                67000.0     38.63
16              181300.0     37.53
28              350000.0     34.07
43               79300.0     34.09
...                  ...       ...
2943             57200.0     37.96
2964             91300.0     33.94
2985            109400.0     34.94
2986             85400.0     33.93
2995            225000.0     34.42

[360 rows x 2 columns]

In [21]:
df[df['population'] < 500]['median_house_value'].mean() # средняя стоимость дома с населением от 0 до 500

189222.81188118813

In [39]:
df['population'].min() # минимальное population

5.0

In [40]:
df[df['population'] == 5.0]['households'].max() # максимальное households в зоне минимального population

3.0

In [25]:
df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)] # Выбрать данные где housing_median_age < 20 и median_house_value > 70000

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
...,...,...,...,...,...,...,...,...,...
2978,-121.34,38.64,17.0,2761.0,501.0,1128.0,482.0,3.7562,139700.0
2981,-120.66,35.49,17.0,4422.0,945.0,2307.0,885.0,2.8285,171300.0
2984,-117.59,33.88,13.0,3239.0,849.0,2751.0,813.0,2.6111,107000.0
2985,-120.47,34.94,17.0,1368.0,308.0,642.0,303.0,1.8633,109400.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0

In [26]:
df[['longitude', 'latitude']] # показать данные из первых двух столбцов

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

In [32]:
print(df['median_house_value'].max()) # максимальное значение median_house_value

500001.0

In [34]:
df[df['median_income'] == 3.1250]['median_house_value'].max() # Показать максимальное median_house_value, где median_income = 3.1250

233300.0

In [36]:
print(df['median_house_value'].min()) # минимальное значение median_house_value

22500.0

In [37]:
df[df['median_house_value'] == 22500.0]['population'].max() # максимальная population в зоне минимального значения median_house_value

1230.0